@import "tailwindcss";
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
/* ... */
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source "../node_modules/simple-datatables/dist";
@source "../node_modules/@flowbite-svelte-plugins/datatable/dist";

@layer base {
  body {
    @apply bg-slate-900;
  }
}


@layer utilities {

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}


@layer utilities {

  .test-banner {
    background-image: linear-gradient(
      to right,
      theme(colors.sky.400),
      theme(colors.sky.400),
      theme(colors.sky.300),
      theme(colors.sky.200),
      theme(colors.sky.100),
      theme(colors.orange.100),
      theme(colors.orange.300),
      theme(colors.rose.300),
      theme(colors.mauve.500),
      theme(colors.sky.800),
      theme(colors.sky.900),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.sky.900),
      theme(colors.sky.800),
      theme(colors.mauve.500),
      theme(colors.rose.100),
      theme(colors.orange.300),
      theme(colors.sky.100),
      theme(colors.sky.200),
      theme(colors.sky.300),
      theme(colors.sky.400),
      theme(colors.sky.400)
    );
    background-size: 100% 100%;
  }

  .daycycle-bg {
    background-image: linear-gradient(
      to bottom,
      theme(colors.sky.400),
      theme(colors.sky.400),
      theme(colors.sky.300),
      theme(colors.sky.200),
      theme(colors.sky.100),
      theme(colors.orange.100),
      theme(colors.orange.300),
      theme(colors.rose.300),
      theme(colors.mauve.500),
      theme(colors.sky.800),
      theme(colors.sky.900),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.sky.900),
      theme(colors.sky.800),
      theme(colors.mauve.500),
      theme(colors.rose.100),
      theme(colors.orange.300),
      theme(colors.sky.100),
      theme(colors.sky.200),
      theme(colors.sky.300),
      theme(colors.sky.400),
      theme(colors.sky.400)
    );
    background-size: 100% 1800%;
    animation: day-cycle 300s linear infinite;
  }
}

@keyframes day-cycle {
  0% {
    background-position: 15% 0%;
    color: #0f172a;
  }

  100% {
    background-position: 85% 100%;
    color: #ffffff;
  }
}


