@import "tailwindcss";
@plugin 'flowbite/plugin';
@custom-variant dark (&:where(.dark, .dark *));
/* ... */
@source "../node_modules/flowbite-svelte/dist";
@source "../node_modules/flowbite-svelte-icons/dist";
@source "../node_modules/simple-datatables/dist";
@source "../node_modules/@flowbite-svelte-plugins/datatable/dist";

@layer base {
  body {
    @apply bg-slate-900;
  }
}


@layer utilities {

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  .rotate-y-0 {
    transform: rotateY(0deg);
  }
}


@layer utilities {

  .test-banner {
    background-image: linear-gradient(
      to right,
      theme(colors.sky.400),
      theme(colors.sky.400),
      theme(colors.sky.300),
      theme(colors.sky.200),
      theme(colors.sky.100),
      theme(colors.orange.100),
      theme(colors.orange.300),
      theme(colors.rose.300),
      theme(colors.mauve.500),
      theme(colors.sky.800),
      theme(colors.sky.900),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.sky.900),
      theme(colors.sky.800),
      theme(colors.mauve.500),
      theme(colors.rose.100),
      theme(colors.orange.300),
      theme(colors.sky.100),
      theme(colors.sky.200),
      theme(colors.sky.300),
      theme(colors.sky.400),
      theme(colors.sky.400)
    );
    background-size: 100% 100%;
  }

  .daycycle-bg {
    background-image: linear-gradient(
      to bottom,
      theme(colors.sky.400),
      theme(colors.sky.400),
      theme(colors.sky.300),
      theme(colors.sky.200),
      theme(colors.sky.100),
      theme(colors.orange.100),
      theme(colors.orange.200),
      theme(colors.orange.300),
      theme(colors.rose.300),
      theme(colors.rose.400),
      theme(colors.sky.700),
      theme(colors.sky.800),
      theme(colors.sky.900),
      theme(colors.slate.800),
      theme(colors.slate.900),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.950),
      theme(colors.slate.900),
      theme(colors.slate.800),
      theme(colors.slate.500),
      theme(colors.mauve.300),
      theme(colors.rose.200),
      theme(colors.rose.300),
      theme(colors.orange.400),
      theme(colors.sky.100),
      theme(colors.sky.200),
      theme(colors.sky.300),
      theme(colors.sky.400)
    );
    background-size: 100% 1800%;
    animation: day-cycle 300s linear infinite;
  }
}

@keyframes day-cycle {
  0% {
    background-position: 15% 0%;
    color: #0f172a;
  }

  20% {
    color: #0f172a;
  }

  45% {
    color: #ffffff;
  }

  55% {
    color: #ffffff;
  }

  70% {
    color: #0f172a;
  }

  100% {
    background-position: 85% 100%;
    color: #0f172a;
  }
}


.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
  background-color: #ffdede;
  cursor: default;
}

.datatable-wrapper .datatable-table tbody tr.selected {
  background-color: #fff1ee !important;
}

  nav.datatable-pagination.ul {
    display: flex !important;
    flex-direction: row !important;
    justify-content: center !important;
    align-items: left !important;
    flex-wrap: nowrap !important;
  }

  .datatable-table tbody td {
    vertical-align: top !important;
    pointer-events: all !important;
  }